@import "./default.scss";
@import "./header.scss";
@import "./footer.scss";

.body {
    margin-top: 20px;
    width: 100%;
    .container {
        .banner {
            width: 100%;
            .img-banner {
                position: relative;
                width: 728px;
                height: 60px;
                margin: 0 auto;
                overflow: hidden;
                img {
                    position: absolute;
                    display: block;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .header-title {
            justify-content: space-between;
            position: relative;
            .title {
                display: block;
                font-size: 28px;
                font-weight: 700;
                margin: 30px 40px 40px 0;
                color: #0cc0df;
                text-transform: uppercase;
            }
            .ul-option {
                display: flex;
                align-items: center;
                li {
                    margin-right: 10px;
                    .custom-select {
                        select {
                            font-size: 15px;
                            padding: 8px 40px 8px 6px;
                            border-radius: 4px;
                            border: 1px solid #4c4c4c;
                            background: #303030;
                            color: #fff;
                            font-family: inherit;
                            option {
                                padding: 4px 8px;
                            }
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
                button#btnSearchRequest {
                    cursor: pointer;
                    display: block;
                    font-size: 15px;
                    padding: 8px;
                    font-weight: bold;
                    background-color:green;
                    color: #fff;
                }
            }
        }
        .poster-header-film {
            width: 100%;
            height: 500px;
            margin-bottom: 5px;
            overflow: hidden;
            .image-poster {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        #list-film {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .card-film {
                position: relative;
                box-sizing: border-box;
                width: calc(100% / 5);
                height: 167px;
                padding: 5px;
                &:first-child {
                    padding-left: 0;
                }
                &:nth-child(6) {
                    padding-left: 0;
                }
                &:nth-child(11) {
                    padding-left: 0;
                }
                &:nth-child(16) {
                    padding-left: 0;
                }
                &:nth-child(21) {
                    padding-left: 0;
                }
                &:nth-child(5) {
                    padding-right: 0;
                }
                &:nth-child(10) {
                    padding-right: 0;
                }
                &:nth-child(15) {
                    padding-right: 0;
                }
                &:nth-child(20) {
                    padding-right: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                .card-film-box {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    &:hover {
                        .film {
                            transform: translate(-50%, -50%) scale(1.1);
                        }
                        .blur {
                            box-shadow: 0px 0px 300px 0px rgba(0,0,0,.5) inset;
                        }
                        .btn-start-film-odd {
                            opacity: 1;
                            transform: translate(-50%, -50%) scale(1.0);
                        }
                    }
                    .blur {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: 0.4s;
                    }
                    .film {
                        position: absolute;
                        width: 110%;
                        height: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: 0.4s;
                    }
                    .btn-start-film-odd {
                        z-index: 3;
                        position: absolute;
                        opacity: 0;
                        top: 50%;
                        left: 50%;
                        width: 60px;
                        height: 60px;
                        transform: translate(-50%, -50%) scale(1.4);
                        background-color: rgba(12, 192, 223, .7);
                        border-radius: 50%;
                        text-align: center;
                        transition: 0.4s;
                        i {
                            font-size: 30px;
                            line-height: 60px;
                        }
                    }
                    span.type {
                        z-index: 3;
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                        background: #e52e71;
                        font-size: 14px;
                        padding: 4px 8px;
                        color: #fff;
                    }
                    span.name {
                        z-index: 3;
                        position: absolute;
                        box-sizing: border-box;
                        display: block;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 40px;
                        background-color: rgba(0,0,0,.7);
                        color: #fff;
                        padding: 0px 12px;
                        line-height: 40px;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }
        #pagination {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 280px;
            margin: 40px auto 0;
            #prev-btn, #next-btn {
                cursor: pointer;
                padding: 4px 8px;
            }
            #prev-btn[disabled="disabled"], #next-btn[disabled="disabled"] {
                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }
}