.footer {
    margin-top: 40px;
    width: 100%;
    background-color: black;
    .container {
        .footer-box {
            display: flex;
            align-items: flex-start;
            width: 100%;
            padding: 25px 40px;
            img.logo-brand {
                width: 10%;
                margin-right: 20px;
            }
            .nav {
                width: 90%;
                ul.ul-list {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-around;
                    li.li-list {
                        ul.dropdown-list {
                            li {
                                padding: 5px 0;
                                span {
                                    font-size: 16px;
                                }
                                span.header-dropdown {
                                    color: #0cc0df;
                                    font-weight: bold;
                                }
                                span.option-dropdown {
                                    cursor: pointer;
                                    color: #fff;
                                    &:hover {
                                        color: #0cc0df;
                                    }
                                }
                                span.option-owner {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}