* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    appearance: none;
}
